.blockquote_astronomia {
    border-left-color: blue;
}

.blockquote_geofisica {
    border-left-color: brown;
}

.blockquote_atmosfericas {
    border-left-color: #003377;
}

.card-content-fixed-size {
    height: 600px;
}

.carousel-content {
    min-height: 1000px;
}

.middle-indicator{
    position:absolute;
    top:10%;
}

.middle-indicator-text{
  font-size: 4.2rem;
}

a.middle-indicator-text{
   color:white !important;
}

.carousel-fixed-item {
    height: 70px;
}